body {
  font-family: 'Lato', sans-serif;
  background: #444;
}
h1, h2, h3 {
  letter-spacing: -2px;
}
h4, h5, h6 {
  letter-spacing: -1px;
}
:root {
  font-size: 16px;
}
.white-color {
  color: #fff;
}
.offwhite-color {
  color: #ebebeb;
}
.grey-color {
  color: #363636;
}
.yellow-color {
  color: #f1c40f;
}
.offwhite-background {
  background-color: #ebebeb;
}
.grey-background {
  background-color: #363636;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 300;
}
.extra-bold {
  font-weight: 900;
}

section.section {
  height: 100vh;
  width: 100vw;
  padding: 0;
}


/**********************/
/*        NAV         */
/**********************/
#hamburger-menu {
  display: none;
}
#mobile-nav {
  display: none;
}
#nav {
  background: none;
  box-shadow: none;
  height: 120px;
  padding: 20px 40px;
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
#nav ul li {
  margin: 10px;
  position: relative;
}
#nav ul li::after {

}
#nav ul li a {
  font-size: 1.9rem;
  color: #ebebeb;
}
#nav ul li a::after {
  content: '';
  width: 90%;
  height: 3px;
  background: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  transition: 0.3s ease-out;
  transform: scale(0);
}
#nav ul li a:hover, #mobile-nav ul li a {
  background: none;
}
#nav ul li a:hover::after {
  transform: scale(1);
}
#nav ul li:last-child,
#mobile-nav ul li:last-child,
#services .services-text a {
  border-radius: 50px;
  border: 4px solid #f1c40f;
  font-weight: bold;
  transform: translateY(-4px);
  transition: 0.3s ease-out;
}
#nav ul li:last-child:hover,
#mobile-nav ul li:last-child:hover,
#services .services-text a:hover {
  background: #f1c40f;
}
#nav ul li:last-child:hover a,
#mobile-nav ul li:last-child:hover a,
#services .services-text a:hover {
  color: #363636;
}
#nav ul li:last-child a::after {
  display: none;
}
#nav ul li:last-child a,
#mobile-nav ul li:last-child a,
#services .services-text a {
  padding: 0 25px;
}


/**********************/
/*      LANDING       */
/**********************/

#landing {
  padding-top: 40vh;
}
#landing .background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -10;
  overflow: hidden;
}
#landing .background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
#landing .background-video .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#landing .text-container {
  text-align: center;
}
#landing .text-container h1 {
  font-weight: 700;
  font-size: 6rem;
}
#landing .play-container {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#landing .play-rectangle, #custom-next, #custom-prev {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #f1c40f;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out;
}
#landing .play-container .play-rectangle:hover,
#custom-next:hover,
#custom-prev:hover {
  background: #f1c40f;
}
#landing .play-container .play-rectangle:hover i,
#custom-next:hover i,
#custom-prev:hover i{
  color: #363636;
}
#landing .play-rectangle i {
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#landing .play-container p {
  font-size: 2rem;
  margin: 20px 0 0 0;
}


/**********************/
/*      PROJECTS      */
/**********************/

#projects .slide {
  display: flex;
  flex-wrap: wrap;
}
#custom-prev, #custom-next {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}
#custom-prev {
  left: 25px;
}
#custom-next {
  right: 25px;
}
#custom-prev i, #custom-next i {
  position: absolute;
  font-size: 5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
#custom-prev i:first-child, #custom-next i:first-child {
  left: 35%;
}
#custom-prev i:last-child, #custom-next i:last-child {
  left: 65%;
}
#custom-prev i {
  transform: rotate(180deg) translate(50%, 50%);
}

#projects .box {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}
#projects .box-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: all 1s ease-out;
  filter: grayscale(1);
}
#projects .box-foreground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  display: flex;
  justify-content: center;
}
#projects .box-foreground .description {
  text-align: center;
  color: #ebebeb;
  align-self: center;
}
#projects .box-foreground .description h5 {
  font-size: 6rem;
  transition: all 0.6s 0.3s cubic-bezier(.35,.76,.34,1);
  opacity: 0;
  transform: translateY(50%);
}
#projects .box-foreground .description h6 {
  font-size: 2rem;
  transition: all 0.6s 0.5s cubic-bezier(.35,.76,.34,1);
  opacity: 0;
  transform: translateY(100%) translateX(25%);
}
#projects .box:hover .box-background {
  transform: scale(1.2);
  filter: grayscale(0);
}
#projects .box:hover .box-foreground {
  opacity: 1;
}
#projects .box:hover .description h5 {
  transform: translateY(0);
  opacity: 1;
}
#projects .box:hover .description h6 {
  transform: translateY(0) translateX(25%);
  opacity: 1;
}


/**********************/
/*      SERVICES      */
/**********************/

#services {
  position: relative;
}

#services .background-images {
  width: 100%;
  height: 100%;
}
#services .background-images .image,
#services .services-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#services .background-images .image {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 3;
}
#services .background-images .image.active {
  opacity: 1;
}
#services .background-images .image:first-child {
  background: url("../media/images/services/design-branding.jpg") center center no-repeat;
  background-size: cover;
}
#services .background-images .image:nth-child(2) {
  background: url("../media/images/services/web-game-development.jpg") center center no-repeat;
  background-size: cover;
}
#services .background-images .image:nth-child(3) {
  background: url("../media/images/services/video-production.jpg") center center no-repeat;
  background-size: cover;
}
#services .background-images .image:nth-child(4) {
  background: url("../media/images/services/media-coverage.jpg") center center no-repeat;
  background-size: cover;
}
#services .services-list {
  z-index: 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
/*   background-color: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}
#services .services-list .service {
  height: 100%;
  width: 25%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
/*   border-right: 2px solid rgba(255, 255, 255, 0.6); */
  transition: background-color 0.4s ease-out;
  background-color: rgba(0, 0, 0, 0.8);
}
#services .services-list .description-container {
  transform: translateY(40%);
  transition: transform 0.4s;
  height: 475px;
}
#services .services-list .service:hover .description-container {
  transform: translateY(30%);
}
#services .services-list .service:hover ul {
  transform: translateY(0);
  opacity: 1;
}
#services .services-list .service h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}
#services .services-list .service ul {
  font-size: 1.7rem;
  margin-top: 0;
  transform: translateY(15%);
  opacity: 0;
  transition: all 0.4s ease-out;
}
#services .services-list .service:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#services .services-text {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 5;
  text-align: center;
}
#services .services-text a {
  font-size: 2rem;
  display: inline-block;
  margin-top: 10px;
}


/**********************/
/*        TEAM        */
/**********************/

#team {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
#team .main-image-container {
  width: 70%;
  position: relative;
  background: url("../media/images/team/team.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
#team .main-image-container.active {
  opacity: 1;
}
#team .main-image-container footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}
#team .main-image-container ul {
  margin: 0;
}
#team .main-image-container ul li {
  display: inline-block;
  margin: 0 5px;
}
#team .main-image-container ul li img {
  width: 40px;
  height: 40px;
}
#team .main-image-container footer h6 {
  display: inline-block;
  font-size: 2rem;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  line-height: 40px;
}
#team .title-container {
  width: 30%;
}
#team .title-container .upper-half {
  padding: 20px;
  height: 50%;
}
#team .title-container .upper-half h2 {
  font-size: 8rem;
}
#team .title-container .lower-half {
  height: 50%;
  padding: 20px 0;
}
#team .lower-half .hiring {
  padding: 20px;
}
#team .team-container {
  position: relative;
  width: 100%;
  height: 50%;
}
#team .team-member {
  width: 160px;
  height: 160px;
  background: greenyellow;
  display: inline-block;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
  filter: grayscale(1);
  box-shadow: 16px 8px 24px 2px rgba(0,0,0,0.14), 6px 3px 30px 5px rgba(0,0,0,0.12), 8px 3px 10px -5px rgba(0,0,0,0.3);
  opacity: 0;
}
#team .team-member.active {
  opacity: 1;
}
#team .team-member .layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
#team .team-member:hover {
  transform: translateY(-20%);
  filter: grayscale(0);
}
#team .team-member:hover .layout {
  opacity: 0;
}
#team .team-member:not(:first-child) {
  margin-left: -18%;
}
#team .team-member:first-child {
  background: url("../media/images/team/amr ismail.jpg") center center no-repeat;
  background-size: cover;
  z-index: 12;
}
#team .team-member:nth-child(2) {
  background: url("../media/images/team/sherif.jpg") center center no-repeat;
  background-size: cover;
  z-index: 11;
}
#team .team-member:nth-child(3) {
  background: url("../media/images/team/sawi.jpg") center center no-repeat;
  background-size: cover;
  z-index: 10;
}
#team .team-member:nth-child(4) {
  background: url("../media/images/team/tarek.jpg") center center no-repeat;
  background-size: cover;
  z-index: 9;
}
#team .team-member:nth-child(5) {
  background: url("../media/images/team/fat7i.jpg") center center no-repeat;
  background-size: cover;
  z-index: 8;
}
#team .team-member:nth-child(6) {
  background: url("../media/images/team/ghannam.jpg") center center no-repeat;
  background-size: cover;
  z-index: 7;
}
#team .team-member:nth-child(7) {
  background: url("../media/images/team/emam.jpg") center center no-repeat;
  background-size: cover;
  z-index: 6;
}


/**********************/
/*      ABOUT         */
/**********************/

#about {
  display: flex;
}
#about > div {
  width: 50%;
  height: 100%;
}
#about .about-text {
  width: 50%;
  padding: 0 4% 0 10%;
}
#about .about-text h2 {
  margin-top: 35vh;
  font-size: 7.5rem;
}
#about .about h5 {
  font-size: 1.5rem;
  font-weight: 300;
}
#about .about-text .line-divider {
  width: 200px;
  height: 1px;
  background: #363636;
  margin: 5px 0 35px 0;
}
#about .about .line-divider {
  background: #ebebeb;
}
#about .reason {
  margin-top: 25%;
}
#about .reason h5 {
  font-size: 1.4rem;
  font-weight: 300;
}
#about .reason h5:first-child {
  font-weight: 700;
}
#about .about-clients {
  padding: 30px;
}
#about h2 {
  font-size: 5rem;
  margin-bottom: 40px;
}
#about .about-clients .full-line {
  width: 100%;
  height: 2px;
  background: #363636;
}
#about .about-clients .clients-block {
  margin: 5% 0;
}
#about .about-clients .category {
  font-size: 1.9rem;
  background: #ebebeb;
  position: relative;
  transform: translateY(-58%);
  display: inline-block;
  width: 120px;
}
#about .about-clients .clients {
  width: 100%;
}
#about .about-clients .client {
  width: 17%;
  height: 80px;
  margin: 1.5% 1%;
  display: inline-block;
  filter: grayscale(1);
  transition: filter 0.3s;
}
#about .about-clients .client:hover {
  filter: grayscale(0);
}
#about .brands .client:first-child {
  background: url("../media/images/clients/careem.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(2) {
  background: url("../media/images/clients/wuzzuf.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(3) {
  background: url("../media/images/clients/logoJAZ.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(4) {
  background: url("../media/images/clients/forasna.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(5) {
  background: url("../media/images/clients/saber.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(6) {
  background: url("../media/images/clients/brimore.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(7) {
  background: url("../media/images/clients/phillip.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(8) {
  background: url("../media/images/clients/mdaaen.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(9) {
  background: url("../media/images/clients/idp.png") center center no-repeat;
  background-size: contain;
}
#about .brands .client:nth-child(10) {
  background: url("../media/images/clients/ajyal.png") center center no-repeat;
  background-size: contain;
}

#about .entities .client:first-child {
  background: url("../media/images/clients/undp.png") center center no-repeat;
  background-size: contain;
}
#about .entities .client:nth-child(2) {
  background: url("../media/images/clients/Leo-alphas.png") center center no-repeat;
  background-size: contain;
}
#about .entities .client:nth-child(3) {
  background: url("../media/images/clients/lions.png") center center no-repeat;
  background-size: contain;
}
#about .entities .client:nth-child(4) {
  background: url("../media/images/clients/blue-V1.png") center center no-repeat;
  background-size: contain;
}
#about .entities .client:nth-child(5) {
  background: url("../media/images/clients/aisec.png") center center no-repeat;
  background-size: contain;
}
#about .entities .client:nth-child(6) {
  background: url("../media/images/clients/sit.png") center center no-repeat;
  background-size: contain;
}
#about .entities .client:nth-child(7) {
  background: url("../media/images/clients/straw.png") center center no-repeat;
  background-size: contain;
}
#about .entities .client:nth-child(8) {
  background: url("../media/images/clients/icealex.png") center center no-repeat;
  background-size: contain;
}

#about .startups .client:first-child {
  background: url("../media/images/clients/pimula.png") center center no-repeat;
  background-size: contain;
}
#about .startups .client:nth-child(2) {
  background: url("../media/images/clients/american-boulevard-shop.png") center center no-repeat;
  background-size: contain;
}
#about .startups .client:nth-child(3) {
  background: url("../media/images/clients/mentos.png") center center no-repeat;
  background-size: contain;
}


/**********************/
/*     CONTACT US     */
/**********************/

#contact-us > div {
  width: 100%;
  height: 50vh;
}
#contact-us .upper-half {
  padding: 50px;
  position: relative;
}
#contact-us .upper-half .contacts {
  margin-left: 50%;
}
#contact-us .upper-half .contacts h4 {
  font-size: 3.5rem;
}
#contact-us .upper-half .contacts h5 {
  margin: 30px 0;
  font-size: 2.7rem;
}
#contact-us .upper-half h2 {
  position: absolute;
  bottom: -1.8rem;
  left: 50px;
  margin: 0;
  color: #1a1a1a;
  font-size: 9rem;
  letter-spacing: -4px;
}

#contact-us .lower-half {
  background-color: #1a1a1a;
  text-align: center;
  padding-top: 5%;
  position: relative;
}
#contact-us .lower-half h5 {
  font-size: 3rem;
  margin: 0;
}
#contact-us .lower-half input {
  width: 40%;
  margin: 40px 0;
  font-size: 3rem;
  padding: 25px;
  border: 3px solid #f1c40f;
  border-radius: 100px;
  color: #8A740C;
}
#contact-us .lower-half input:focus {
  box-shadow: none;
}
#contact-us .social a {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 5px;
}
#contact-us .social a img {
  width: 100%;
}
#contact-us .lower-half .copyrights {
  position: absolute;
  width: 100%;
  bottom: 15px;
}
#contact-us .lower-half .copyrights p {
  font-size: 1.4rem;
}


@media all and (max-width: 1750px) {
  :root {
    font-size: 14px;
  }
}
@media all and (max-width: 1470px) {
  :root {
    font-size: 12.5px;
  }

  #nav ul li {
    margin: 7px;
  }

  #services .description-container {
    padding: 0 3%;
  }


  #about .about-clients .client {
    height: 65px;
  }
  #about .about-clients .category {
    width: 100px;
  }

  #team .main-image-container footer h6 {
    font-size: 2.2rem;
  }
}

@media all and (max-width: 1200px) {
  #nav ul li {
    margin: 0;
  }
  #nav ul li a {
    font-size: 1.7rem;
  }

  #about .about-text h2 {
    font-size: 6rem;
  }


  #team .team-member {
    width: 120px;
    height: 120px;
  }


  #about .about h5 {
    font-size: 1.2rem;
  }
  #about .reason h5 {
    font-size: 1.1rem;
  }
  #about .about-clients .client {
    height: 45px;
  }
}
@media all and (max-width: 900px) {
  :root {
    font-size: 10px;
  }

  #landing .play-container {
    width: 150px;
  }
  #landing .play-rectangle, #custom-next, #custom-prev {
    width: 70px;
    height: 70px;
  }
  #landing .play-rectangle i {
    font-size: 50px;
  }
  #landing .play-rectangle p {
    margin-top: 10px;
  }

  #team .main-image-container footer h6 {
    font-size: 1.8rem;
  }
}




/***************************************/
/*      SMALL SCREENS BREAKPOINT       */
/***************************************/


@media all and (max-width: 850px) {

  /**********************/
  /*        NAV         */
  /**********************/

  #hamburger-menu {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
    cursor: pointer;
  }
  #hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background: #ebebeb;
    margin: 6px auto;
    border-radius: 10px;
    transition: 0.6s;
  }
  #hamburger-menu.active span:first-child {
    transform: rotate(135deg) translateX(12px);
  }
  #hamburger-menu.active span:last-child {
    transform: rotate(-135deg) translateX(13px);
  }
  #hamburger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  #nav {
    display: none;
  }
  #mobile-nav {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #363636;
    text-align: center;
    transition: transform 0.5s cubic-bezier(1,.01,.81,.73);
    transform: translateX(100%);
  }
  #mobile-nav > a {
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 0;
    transition: opacity 0.3s 0.5s;
  }
  #mobile-nav > a img {
    width: 90px;
  }
  #mobile-nav ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #mobile-nav ul li {
    float: none;
    display: block;
    text-align: center;
    margin: 5% 0;
    opacity: 0;
    transform: translateY(70%);
  }

  #mobile-nav ul li:first-child {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  #mobile-nav ul li:nth-child(2) {
    transition: opacity 0.3s 0.1s ease-in-out, transform 0.3s 0.1s ease-in-out;
  }
  #mobile-nav ul li:nth-child(3) {
    transition: opacity 0.3s 0.2s ease-in-out, transform 0.3s 0.2s ease-in-out;
  }
  #mobile-nav ul li:nth-child(4) {
    transition: opacity 0.3s 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
  }
  #mobile-nav ul li:nth-child(5) {
    transition: opacity 0.3s 0.4s ease-in-out, transform 0.3s 0.4s ease-in-out;
  }
  #mobile-nav ul li:nth-child(6) {
    transition: opacity 0.3s 0.5s ease-in-out, transform 0.3s 0.5s ease-in-out, background-color 0.3s ease-in-out;
  }

  #mobile-nav ul li:last-child {
    display: inline-block;
    width: 300px;
    margin-top: 1%;
  }
  #mobile-nav ul li a {
    font-size: 3.6rem;
  }

  #mobile-nav.active {
    transform: translateX(0);
  }
  #mobile-nav.active > a {
    opacity: 1;
  }
  #mobile-nav ul.active li {
    opacity: 1;
    transform: translateY(0);
  }


  /**********************/
  /*      LANDING       */
  /**********************/

  #landing {
    padding-top: 30vh;
  }
  #landing .text-container h1 {
    font-size: 6.5rem;
  }
  #landing .text-container span.yellow-color {
    display: block;
  }


  /**********************/
  /*        TEAM        */
  /**********************/

  #team {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
  }
  #team .main-image-container {
    width: 100%;
  }
  #team .title-container {
    width: 100%;
  }
  #team .title-container .upper-half {
    padding: 30px;
  }
  #team .upper-half h5 {
    font-size: 3rem;
  }
  #team .upper-half h5:last-child {
    font-size: 2.5rem;
  }
  #team .lower-half .hiring h5 {
    font-size: 2rem;
  }

  
  /**********************/
  /*      SERVICES      */
  /**********************/
  
  #services .services-text {
    display: none;
  }
  #services .services-list {
    flex-direction: column;
  }
  #services .services-list .service {
    width: 100%;
  }
  #services .services-list .service h3 {
    font-size: 5.4rem;
    text-align: center;
  }
  #services .services-list .service .description-container {
    transform: none;
    transition: none;
    height: auto;
  }
  #services .services-list .service:hover .description-container {
    transform: none;
  }
  #services .services-list .service .description-container ul {
    display: none;
    transform: none;
    transition: none;
  }

  
  /**********************/
  /*       ABOUT        */
  /**********************/


  #about {
    display: block;
    height: auto;
  }
  #about .about-text,
  #about .about-clients {
    width: 100%;
  }
  #about .about-text {
    text-align: center;
    padding: 30px;
    height: auto;
  }
  #about .about-text h2 {
    font-size: 8rem;
    margin: 20px 0;
  }
  #about .about-text h5 {
    font-size: 3rem;
  }
  #about .about-text .line-divider {
    display: block;
    margin: 10px auto;
  }
  #about .about-text .reason {
    margin-top: 35px;
  }
  #about .about-text .reason h5 {
    font-size: 2.5rem;
  }
  #about .about-clients h2 {
    text-align: center;
  }
  #about .about-clients h2 {
    font-size: 8rem;
    text-transform: uppercase;
  }
  #about .clients-block .category {
    width: 140px;
    font-size: 3rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #about .clients-block {
    text-align: center;
  }
  #about .about-clients .client {
    width: 25%;
    margin: 3%;
  }
  #about .about-clients .clients-block {
    margin: 10% 0;
  }
  #about .about-clients .clients-block:last-of-type {
    margin: 0;
  }


  /**********************/
  /*     CONTACT US     */
  /**********************/

  #contact-us {
    height: auto;
  }
  #contact-us > div {
    height: 350px;
  }
  #contact-us .lower-half {

  }
  #contact-us .upper-half h2 {
    left: 0;
    width: 100%;
    text-align: center;
  }
  #contact-us .upper-half .contacts {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 10%;
  }
}

@media all and (orientation: landscape) and (max-width: 850px) {
  #mobile-nav ul li {
    margin: 2% 0;
  }
  #landing {
    padding-top: 25vh;
  }
  #team .main-image-container {
    height: 400px;
  }
}
@media all and (orientation: portrait) and (max-width: 850px) {
  #team .main-image-container {
    height: 350px;
  }
}
@media all and (orientation: portrait) and (max-width: 650px) {
  #mobile-nav ul li {
    margin: 2% 0;
  }
  #team .main-image-container {
    height: 300px;
  }
  #services .services-list .service h3 {
    font-size: 3.5rem;
  }
  #contact-us .upper-half h2 {
    font-size: 6.5rem;
    bottom: -1.3rem;
  }
  #contact-us .lower-half input {
    width: 80%;
    text-align: center;
    padding: 15px;
    margin: 30px 0;
  }
  #team .main-image-container footer {
    height: 40px;
  }
  #team .main-image-container footer h6 {
    line-height: 20px;
    font-size: 1.5rem;
  }
  #team .main-image-container footer ul li {
    margin: 0 2px;
  }
  #team .main-image-container footer ul li img {
    width: 25px;
    height: 25px;
  }
}
@media all and (orientation: portrait) and (max-width: 450px) {
  #landing {
    padding-top: 10vh;
  }
  #mobile-nav ul li a {
    font-size: 3rem;
  }
  #about .about-clients h2 {
    font-size: 7rem;
  }
  #contact-us .upper-half h2 {
    font-size: 5.5rem;
    bottom: -1.1rem;
  }
}






/********************************/
/*      ONE PAGE SCROLL CSS     */
/********************************/

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}


/***********************/
/*      SLICK CSS      */
/***********************/


/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
