body {
  font-family: 'Lato', sans-serif;
  background: #444;
  letter-spacing: -2px;
}
:root {
  font-size: 16px;
}
.white-color {
  color: #fff;
}
.offwhite-color {
  color: #ebebeb;
}
.grey-color {
  color: #363636;
}
.yellow-color {
  color: #f1c40f;
}
.offwhite-background {
  background-color: #ebebeb;
}
.grey-background {
  background-color: #363636;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 900;
}

section.section {
  height: 100vh;
  width: 100vw;
  padding: 0;
}


/**********************/
/*        NAV         */
/**********************/

#nav {
  background: none;
  box-shadow: none;
  height: 120px;
  padding: 20px 40px;
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}
#nav ul li {
  margin: 10px;
}
#nav ul li a {
  font-size: 1.9rem;
  color: #ebebeb;
}
#nav ul li a:hover {
  background: none;
}
#nav ul li:last-child {
  border-radius: 50px;
  border: 4px solid #f1c40f;
  font-weight: bold;
  transform: translateY(-4px);
}
#nav ul li:last-child a {
  padding: 0 25px;
}


/**********************/
/*      LANDING       */
/**********************/

#landing-section .text-container {
  text-align: center;
  margin-top: 40vh;
}
#landing-section .text-container h1 {
  font-weight: 700;
  font-size: 6rem;
}
#landing-section .play-container {
  width: 180px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#landing-section .play-rectangle, #custom-next, #custom-prev {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #f1c40f;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
#landing-section .play-rectangle i {
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#landing-section .play-container p {
  font-size: 2rem;
  margin: 20px 0 0 0;
}


/**********************/
/*      PROJECTS      */
/**********************/

#projects-section .slide {
  display: flex;
  flex-wrap: wrap;
}
#custom-prev, #custom-next {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}
#custom-prev {
  left: 25px;
}
#custom-next {
  right: 25px;
}
#custom-prev i, #custom-next i {
  position: absolute;
  font-size: 5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
#custom-prev i:first-child, #custom-next i:first-child {
  left: 35%;
}
#custom-prev i:last-child, #custom-next i:last-child {
  left: 65%;
}
#custom-prev i {
  transform: rotate(180deg) translate(50%, 50%);
}

#projects-section .box {
  width: 50vw;
  height: 50vh;
}


/**********************/
/*      SERVICES      */
/**********************/

#services-section {
  display: flex;
}
#services-section > div {
  width: 50%;
  height: 100%;
}
#services-section .description-container {
  padding: 0 10% 0 10%;
}
#services-section .description-container h2 {
  margin-top: 35vh;
  font-size: 7.5rem;
}
#services-section .description-container h5 {
  font-size: 2.1rem;
  font-weight: 300;
}
#services-section .description-container .line-divider {
  width: 200px;
  height: 1px;
  background: #363636;
  margin: 5px 0 35px 0;
}
#services-section .description-container a {
  font-size: 3rem;
  border-radius: 60px;
  border: 3px solid #f1c40f;
  padding: 15px 25px;
}
#services-section .services-container {
  display: flex;
  flex-wrap: wrap;
}
#services-section .services-container .service-box {
  width: 50%;
  height: 50%;
  position: relative;
}
#services-section .service-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: 0.4s;
  padding: 20px;
}
/*#services-section .service-box .overlay:hover {*/
  /*opacity: 1;*/
/*}*/
#services-section .service-box .overlay h2 {
  margin: 0;
  text-transform: uppercase;
}
#services-section .service-box .service-img {
  width: 100%;
  height: 100%;
}
#services-section .service-box:first-child .service-img {
  background: url("../media/images/services-design.jpg") center center;
  background-size: cover;
}
#services-section .service-box:nth-child(2) .service-img {
  background: url("../media/images/services-web.jpg") center center;
  background-size: cover;
}
#services-section .service-box:nth-child(3) .service-img {
  background: url("../media/images/services-media.jpg") center center;
  background-size: cover;
}
#services-section .service-box:nth-child(4) .service-img {
  background: url("../media/images/services-video.jpg") center center;
  background-size: cover;
}

#arr {
  width: 60px;
  height: 60px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 5;
}