body {
  font-family: 'Lato', sans-serif;
  background: #444;
  letter-spacing: -1px;
}
:root {
  font-size: 16px;
}
.white-color {
  color: #fff;
}
.offwhite-color {
  color: #ebebeb;
}
.grey-color {
  color: #363636;
}
.yellow-color {
  color: #f1c40f;
}
.offwhite-background {
  background-color: #ebebeb;
}
.grey-background {
  background-color: #363636;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 300;
}
.extra-bold {
  font-weight: 900;
}

section.section {
  height: 100vh;
  width: 100vw;
  padding: 0;
}


/**********************/
/*        NAV         */
/**********************/
#hamburger-menu {
  display: none;
}
#nav {
  background: none;
  box-shadow: none;
  height: 120px;
  padding: 20px 40px;
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}
#nav ul li {
  margin: 10px;
}
#nav ul li a {
  font-size: 1.9rem;
  color: #ebebeb;
}
#nav ul li a:hover {
  background: none;
}
#nav ul li:last-child {
  border-radius: 50px;
  border: 4px solid #f1c40f;
  font-weight: bold;
  transform: translateY(-4px);
}
#nav ul li:last-child a {
  padding: 0 25px;
}


/**********************/
/*      LANDING       */
/**********************/

#landing-section {
  padding-top: 40vh;
}
#landing-section .text-container {
  text-align: center;
}
#landing-section .text-container h1 {
  font-weight: 700;
  font-size: 6rem;
}
#landing-section .play-container {
  width: 180px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#landing-section .play-rectangle, #custom-next, #custom-prev {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #f1c40f;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
#landing-section .play-rectangle i {
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#landing-section .play-container p {
  font-size: 2rem;
  margin: 20px 0 0 0;
}


/**********************/
/*      PROJECTS      */
/**********************/

#projects-section .slide {
  display: flex;
  flex-wrap: wrap;
}
#custom-prev, #custom-next {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}
#custom-prev {
  left: 25px;
}
#custom-next {
  right: 25px;
}
#custom-prev i, #custom-next i {
  position: absolute;
  font-size: 5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
#custom-prev i:first-child, #custom-next i:first-child {
  left: 35%;
}
#custom-prev i:last-child, #custom-next i:last-child {
  left: 65%;
}
#custom-prev i {
  transform: rotate(180deg) translate(50%, 50%);
}

#projects-section .box {
  width: 100%;
  height: 50vh;
}


/**********************/
/*      SERVICES      */
/**********************/

#services-section,
#about-section {
  display: flex;
}
#services-section > div,
#about-section > div {
  width: 50%;
  height: 100%;
}
#services-section .description-container,
#about-section .about-text {
  padding: 0 4% 0 10%;
}
#services-section .description-container h2,
#about-section .about-text h2 {
  margin-top: 35vh;
  font-size: 7.5rem;
}
#services-section .description-container h5 {
  font-size: 2.1rem;
  font-weight: 300;
}
#services-section .description-container .line-divider,
#about-section .about-text .line-divider {
  width: 200px;
  height: 1px;
  background: #363636;
  margin: 5px 0 35px 0;
}
#services-section .description-container a {
  font-size: 3rem;
  border-radius: 60px;
  border: 3px solid #f1c40f;
  padding: 15px 25px;
}
#services-section .services-container {
  display: flex;
  flex-wrap: wrap;
}
#services-section .services-container .service-box {
  width: 50%;
  height: 50%;
  position: relative;
  filter: grayscale(0.4);
  transition: filter 0.4s;
}
#services-section .services-container .service-box:hover {
  filter: grayscale(0);
}
#services-section .service-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.4s;
  padding: 20px;
}
#services-section .service-box .overlay:hover {
  background-color: rgba(0, 0, 0, 0);
}
#services-section .service-box .overlay h2 {
  margin: 0;
  text-transform: uppercase;
}
#services-section .service-box .service-img {
  width: 100%;
  height: 100%;
}
#services-section .service-box:first-child .service-img {
  background: url("../media/images/services-design.jpg") center center;
  background-size: cover;
}
#services-section .service-box:nth-child(2) .service-img {
  background: url("../media/images/services-web.jpg") center center;
  background-size: cover;
}
#services-section .service-box:nth-child(3) .service-img {
  background: url("../media/images/services-media.jpg") center center;
  background-size: cover;
}
#services-section .service-box:nth-child(4) .service-img {
  background: url("../media/images/services-video.jpg") center center;
  background-size: cover;
}


/**********************/
/*        TEAM        */
/**********************/

#team-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
#team-section .main-image-container {
  width: 70%;
  background: url("../media/images/team-big.jpg") center center no-repeat;
  background-size: cover;
}
#team-section .title-container {
  width: 30%;
}
#team-section .title-container .upper-half {
  padding: 20px;
  height: 50%;
}
#team-section .title-container .upper-half h2 {
  font-size: 8rem;
}
#team-section .title-container .lower-half {
  height: 50%;
  padding: 20px 0;
}
#team-section .lower-half .hiring {
  padding: 20px;
}
#team-section .team-container {
  position: relative;
  width: 100%;
  height: 50%;
}
#team-section .team-member {
  width: 160px;
  height: 160px;
  background: greenyellow;
  display: inline-block;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
  filter: grayscale(1);
}
#team-section .team-member .layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
#team-section .team-member:hover {
  transform: translateY(-20%);
  filter: grayscale(0);
}
#team-section .team-member:hover .layout {
  opacity: 0;
}
#team-section .team-member:not(:first-child) {
  margin-left: -18%;
}
#team-section .team-member:first-child {
  background: black;
  z-index: 12;
}
#team-section .team-member:nth-child(2) {
  background: blue;
  z-index: 11;
}
#team-section .team-member:nth-child(3) {
  background: red;
  z-index: 10;
}
#team-section .team-member:nth-child(4) {
  background: yellow;
  z-index: 9;
}
#team-section .team-member:nth-child(5) {
  background: orange;
  z-index: 8;
}
#team-section .team-member:nth-child(6) {
  background: darkolivegreen;
  z-index: 7;
}
#team-section .team-member:nth-child(7) {
  background: black;
  z-index: 6;
}
#team-section .team-member:nth-child(8) {
  background: lightseagreen;
  z-index: 5;
}


/**********************/
/*      ABOUT         */
/**********************/

#about-section .about-text {
  width: 50%;
}
#about-section .about h5 {
  font-size: 1.5rem;
  font-weight: 300;
}
#about-section .about .line-divider {
  background: #ebebeb;
}
#about-section .reason {
  margin-top: 25%;
}
#about-section .reason h5 {
  font-size: 1.4rem;
  font-weight: 300;
}
#about-section .reason h5:first-child {
  font-weight: 700;
}
#about-section .about-clients {
  padding: 30px;
}
#about-section h2 {
  font-size: 5rem;
  margin-bottom: 40px;
}
#about-section .about-clients .full-line {
  width: 100%;
  height: 2px;
  background: #363636;
}
#about-section .about-clients .clients-block {
  margin: 5% 0;
}
#about-section .about-clients .category {
  font-size: 1.9rem;
  background: #ebebeb;
  position: relative;
  transform: translateY(-58%);
  display: inline-block;
  width: 120px;
}
#about-section .about-clients .clients {
  width: 100%;
}
#about-section .about-clients .client {
  width: 17%;
  height: 80px;
  margin: 1.5% 1%;
  display: inline-block;
  filter: grayscale(1);
  transition: filter 0.3s;
}
#about-section .about-clients .client:hover {
  filter: grayscale(0);
}
#about-section .brands .client:first-child {
  background: url("../media/images/clients/careem.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(2) {
  background: url("../media/images/clients/wuzzuf.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(3) {
  background: url("../media/images/clients/logoJAZ.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(4) {
  background: url("../media/images/clients/forasna.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(5) {
  background: url("../media/images/clients/saber.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(6) {
  background: url("../media/images/clients/brimore.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(7) {
  background: url("../media/images/clients/phillip.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(8) {
  background: url("../media/images/clients/tomato.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(9) {
  background: url("../media/images/clients/idp.png") center center no-repeat;
  background-size: contain;
}
#about-section .brands .client:nth-child(10) {
  background: url("../media/images/clients/ajyal.png") center center no-repeat;
  background-size: contain;
}

#about-section .entities .client:first-child {
  background: url("../media/images/clients/undp.png") center center no-repeat;
  background-size: contain;
}
#about-section .entities .client:nth-child(2) {
  background: url("../media/images/clients/Leo-alphas.png") center center no-repeat;
  background-size: contain;
}
#about-section .entities .client:nth-child(3) {
  background: url("../media/images/clients/lions.png") center center no-repeat;
  background-size: contain;
}
#about-section .entities .client:nth-child(4) {
  background: url("../media/images/clients/blue-V1.png") center center no-repeat;
  background-size: contain;
}
#about-section .entities .client:nth-child(5) {
  background: url("../media/images/clients/aisec.png") center center no-repeat;
  background-size: contain;
}
#about-section .entities .client:nth-child(6) {
  background: url("../media/images/clients/sit.png") center center no-repeat;
  background-size: contain;
}
#about-section .entities .client:nth-child(7) {
  background: url("../media/images/clients/straw.png") center center no-repeat;
  background-size: contain;
}
#about-section .entities .client:nth-child(8) {
  background: url("../media/images/clients/icealex.png") center center no-repeat;
  background-size: contain;
}

#about-section .startups .client:first-child {
  background: url("../media/images/clients/pimula.png") center center no-repeat;
  background-size: contain;
}
#about-section .startups .client:nth-child(2) {
  background: url("../media/images/clients/") center center no-repeat;
  background-size: contain;
}
#about-section .startups .client:nth-child(3) {
  background: url("../media/images/clients/mentos.png") center center no-repeat;
  background-size: contain;
}


@media all and (max-width: 1750px) {
  :root {
    font-size: 14px;
  }
}
@media all and (max-width: 1470px) {
  :root {
    font-size: 12.5px;
  }

  #nav ul li {
    margin: 7px;
  }

  #services-section > div:first-child {
    width: 40%;
  }
  #services-section > div:last-child{
    width: 60%;
  }
  #services-section .description-container {
    padding: 0 3%;
  }


  #about-section .about-clients .client {
    height: 65px;
  }
  #about-section .about-clients .category {
    width: 100px;
  }
}

@media all and (max-width: 1200px) {
  #nav ul li {
    margin: 0;
  }


  #services-section .description-container h2,
  #about-section .about-text h2 {
    font-size: 6rem;
  }
  #services-section .description-container h5 {
    font-size: 1.7rem;
  }
  #services-section .description-container a {
    font-size: 2rem;
  }
  #services-section .service-box .overlay h2 {
    font-size: 2.8rem;
  }


  #team-section .team-member {
    width: 120px;
    height: 120px;
  }


  #about-section .about h5 {
    font-size: 1.2rem;
  }
  #about-section .reason h5 {
    font-size: 1.1rem;
  }
  #about-section .about-clients .client {
    height: 45px;
  }
}
@media all and (max-width: 900px) {
  :root {
    font-size: 10px;
  }

  #landing-section .play-container {
    width: 150px;
  }
  #landing-section .play-rectangle, #custom-next, #custom-prev {
    width: 70px;
    height: 70px;
  }
  #landing-section .play-rectangle i {
    font-size: 50px;
  }
  #landing-section .play-rectangle p {
    margin-top: 10px;
  }
}




/***************************************/
/*      SMALL SCREENS BREAKPOINT       */
/***************************************/


@media all and (max-width: 850px) {

  /**********************/
  /*        NAV         */
  /**********************/

  #hamburger-menu {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  #hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background: #ebebeb;
    margin: 6px auto;
    border-radius: 10px;
    transition: 0.6s;
  }
  #hamburger-menu.active span:first-child {
    transform: rotate(135deg) translateX(12px);
  }
  #hamburger-menu.active span:last-child {
    transform: rotate(-135deg) translateX(13px);
  }
  #hamburger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  #nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #363636;
    z-index: 10;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    transform: translateX(100%);
  }
  #nav > a {
    display: block;
    margin-bottom: 25px;
    opacity: 0;
    transition: opacity 0.2s 0.7s;
  }
  #nav > a img {
    width: 140px;
  }
  #nav ul li {
    float: none;
    display: block;
    text-align: center;
    margin: 4% 0;
    opacity: 0;
  }

  #nav ul li:first-child {
    transition: opacity 0.7s 0.8s;
  }
  #nav ul li:nth-child(2) {
    transition: opacity 0.7s 0.9s;
  }
  #nav ul li:nth-child(3) {
    transition: opacity 0.7s 1s;
  }
  #nav ul li:nth-child(4) {
    transition: opacity 0.7s 1.1s;
  }
  #nav ul li:nth-child(5) {
    transition: opacity 0.7s 1.2s;
  }
  #nav ul li:nth-child(6) {
    transition: opacity 0.7s 1.3s;
  }

  #nav ul li:last-child {
    display: inline-block;
    width: 240px;
    padding: 10px;
    margin-top: 1%;
  }
  #nav ul li a {
    font-size: 3rem;
    font-weight: bold;
  }

  #nav.active {
    transform: translateX(0);
  }
  #nav.active > a {
    opacity: 1;
  }
  #nav.active ul li {
    opacity: 1;
  }


  /**********************/
  /*      LANDING       */
  /**********************/

  #landing-section .text-container span.yellow-color {
    display: block;
  }


  /**********************/
  /*        TEAM        */
  /**********************/

  #team-section {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
  }
  #team-section .main-image-container {
    width: 100%;
  }
  #team-section .title-container {
    width: 100%;
  }
  #team-section .title-container .upper-half {
    padding: 30px;
  }
  #team-section .upper-half h5 {
    font-size: 3rem;
  }
  #team-section .upper-half h5:last-child {
    font-size: 2.5rem;
  }
  #team-section .lower-half .hiring h5 {
    font-size: 2rem;
  }


  /**********************/
  /*       ABOUT        */
  /**********************/


  #about-section {
    display: block;
    height: auto;
  }
  #about-section .about-text,
  #about-section .about-clients {
    width: 100%;
  }
  #about-section .about-text {
    text-align: center;
    padding: 30px;
    height: auto;
  }
  #about-section .about-text h2 {
    font-size: 8rem;
    margin: 20px 0;
  }
  #about-section .about-text h5 {
    font-size: 3rem;
  }
  #about-section .about-text .line-divider {
    display: block;
    margin: 10px auto;
  }
  #about-section .about-text .reason {
    margin-top: 35px;
  }
  #about-section .about-text .reason h5 {
    font-size: 2.5rem;
  }
  #about-section .about-clients h2 {
    text-align: center;
  }
  #about-section .about-clients h2 {
    font-size: 8rem;
    text-transform: uppercase;
  }
  #about-section .clients-block .category {
    width: 140px;
    font-size: 3rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #about-section .clients-block {
    text-align: center;
  }
  #about-section .about-clients .client {
    width: 25%;
    margin: 3%;
  }
  #about-section .about-clients .clients-block {
    margin: 10% 0;
  }
  #about-section .about-clients .clients-block:last-of-type {
    margin: 0;
  }
}

@media all and (orientation: landscape) and (max-width: 850px) {
  #team-section .main-image-container {
    height: 400px;
  }
}
@media all and (orientation: portrait) and (max-width: 850px) {
  #team-section .main-image-container {
    height: 350px;
  }
}
@media all and (orientation: portrait) and (max-width: 650px) {
  #team-section .main-image-container {
    height: 300px;
  }
}
